.places__list {
  margin: 0 0 66px;
  padding: 0;
  list-style: none;
  display: grid;
  justify-items: center;
  row-gap: 50px;
  line-height: 0;
}

@media (min-width: 768px) {
  .places__list {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 90px;
    row-gap: 73px;
  }
}

@media (min-width: 1024px) {
  .places__list {
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 92px;
    row-gap: 80px;
  }
}

@media (min-width: 1280px) {
  .places__list {
    margin-left: 148px;
    margin-right: 148px;
  }
}