.places__list {
  margin-top: 64px;
  margin-bottom: 66px;
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 50px;
}

@media (min-width: 768px) {
  .places__list {
    margin: 88px 24px 90px;
    row-gap: 73px;
  }
}

@media (min-width: 1024px) {
  .places__list {
    margin: 92px 48px 92px;
    row-gap: 80px;
  }
}

@media (min-width: 1280px) {
  .places__list {
    margin-left: 148px;
    margin-right: 148px;
  }
}