
.footer__table {
  margin: 0 16px 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 568px) {
  .footer__table {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .footer__table {
    margin-left: 48px;
    margin-right: 48px;
  }
}