.lead__caption {
  margin: 8px 18px 0 18px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media  (min-width:1024px) {
  .lead__caption {
    margin-left: 0;
    margin-right: 0;
  }
}