.lead__illustration {
  margin: 0;
}


@media  (min-width:1024px) {
  .lead__illustration {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media  (min-width:1280px) {
  .lead__illustration {
    margin-left: 148px;
    margin-right: 148px;
  }
}